.container {
  display: flex; /* Use flexbox. https://www.joshwcomeau.com/css/interactive-guide-to-flexbox/ */
  justify-content: center; /* Center by vertical. */
  align-items: center; /* Center by horizontal. */
  /* Container size. */
  width: 99vw;
  width: 99dvw; /* `dvw` and `dvh` means set the `width` and `height` depending on screen size, ignoring other elements sizes. */
  height: 97vh;
  height: 97dvh;
}

.button {
  background-color: #4fc3f7;
  color: white;
  border: none;
  padding: 1.25rem;
  border-radius: 1.25rem;
  font-size: 1.5rem;
  box-shadow: 1px 2px 5px rgb(72, 73, 73);
  cursor: pointer;
}

.button:hover {
  background-color: #80deea;
}

.button.clicked {
  background-color: #b3e5fc;
  box-shadow: 1px 2px 10px rgb(72, 73, 73);
}
